NodeJSPortable/Data/vimcode
NodeJSPortable/Data/_*
NodeJSPortable/Data/node-cache
NodeJSPortable/Data/node-global
NodeJSPortable/Data/.*
!NodeJSPortable/Data/.gitconfig
NodeJSPortable/Data/.Microsoft
*.com
gVimPortable
PortableGit
.nomedia
Desktop.ini