[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
	name = sherylynn
[user]
	email = 352281674@qq.com
[credential]
	helper = wincred
[winUpdater]
	recentlySeenVersion = 2.16.3.windows.1
[core]
	longpaths = true